{
  "env": {
    "production": {
      "presets": [
        "next/babel"
      ]
    },
    "development": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-react-jsx",
        "emotion"
      ],
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}