# When the application is loaded on a non-web3 browser this is the network that the browser will use.
# Note: this is passed directly to ethers.js so you'll want to make sure ethers understand the name.
export NEXT_JS_ENV=

export NEXT_JS_FORTMATIC_API_KEY=
export NEXT_JS_FORTMATIC_PRODUCTION_API_KEY=

export NEXT_JS_PORTIS_API_KEY=

export NEXT_JS_GOVERNANCE_SUBGRAPH_URI_MAINNET=
export NEXT_JS_GOVERNANCE_SUBGRAPH_URI_ROPSTEN=
export NEXT_JS_GOVERNANCE_SUBGRAPH_URI_RINKEBY=https://api.thegraph.com/subgraphs/name/pooltogether/pooltogether-rinkeby-governance

export NEXT_JS_DEFAULT_ETHEREUM_NETWORK_NAME=

export NEXT_JS_INFURA_KEY=
export NEXT_JS_DOMAIN_NAME=

export MAGIC_SECRET_KEY=
export NEXT_JS_MAGIC_PUB_KEY=

export NEXT_JS_TESTWYRE_ACCOUNT_ID=
export NEXT_JS_SENDWYRE_ACCOUNT_ID=
export TESTWYRE_API_KEY=
export SENDWYRE_API_KEY=
export TESTWYRE_API_SECRET=
export SENDWYRE_API_SECRET=

export NEXT_JS_LOCIZE_DEV_API_KEY=
export NEXT_JS_LOCIZE_PROJECT_ID=
export NEXT_JS_LOCIZE_VERSION=
export NEXT_JS_FATHOM_SITE_ID=

export DEFI_PULSE_GAS_STATION_API_KEY=

export NEXT_JS_MAILCHIMP_LIST_ID=
export NEXT_JS_MAILCHIMP_LIST_GENERAL_ID=

export MAILCHIMP_API_KEY=
export MAILCHIMP_REGION=
