export NODE_ENV=development

# Blank if development. Domain if production.
export NEXT_PUBLIC_DOMAIN_NAME=

# Locize API keys for localization.
export NEXT_PUBLIC_LOCIZE_PROJECT_ID=4436efaa-7b18-4332-a5e2-57437e041619
export LOCIZE_PROJECTID=$NEXT_PUBLIC_LOCIZE_PROJECT_ID
export NEXT_PUBLIC_LOCIZE_VERSION=latest
export LOCIZE_VERSION=$NEXT_PUBLIC_LOCIZE_VERSION

# RPC URLs to use. Provided URLs will take precedence in the app.
# Ethereum
export NEXT_PUBLIC_ETHEREUM_MAINNET_RPC_URL=https://mainnet.infura.io/v3/
export NEXT_PUBLIC_ETHEREUM_RINKEBY_RPC_URL=https://rinkeby.infura.io/v3/
export NEXT_PUBLIC_ETHEREUM_KOVAN_RPC_URL=https://goerli.infura.io/v3/
export NEXT_PUBLIC_ETHEREUM_GOERLI_RPC_URL=
# Polygon
export NEXT_PUBLIC_POLYGON_MAINNET_RPC_URL=https://polygon-mainnet.infura.io/v3/
export NEXT_PUBLIC_POLYGON_MUMBAI_RPC_URL=https://polygon-mumbai.infura.io/v3/
# Optimism
export NEXT_PUBLIC_OPTIMISM_MAINNET_RPC_URL=https://optimism-mainnet.infura.io/v3/
export NEXT_PUBLIC_OPTIMISM_KOVAN_RPC_URL=https://optimism-kovan.infura.io/v3/
export NEXT_PUBLIC_OPTIMISM_GOERLI_RPC_URL=https://optimism-goerli.infura.io/v3/
# Arbitrum
export NEXT_PUBLIC_ARBITRUM_MAINNET_RPC_URL=
export NEXT_PUBLIC_ARBITRUM_GOERLI_RPC_URL=
# Avalanche
export NEXT_PUBLIC_AVALANCHE_MAINNET_RPC_URL=https://avalanche-mainnet.infura.io/v3/
export NEXT_PUBLIC_AVALANCHE_FUJI_RPC_URL=
# Celo
export NEXT_PUBLIC_CELO_MAINNET_RPC_URL=
export NEXT_PUBLIC_CELO_TESTNET_RPC_URL=

# Optional
# Sentry DSN
export NEXT_PUBLIC_SENTRY_DSN='https://6e3f43eb41db42cab09a14279960286e@o302107.ingest.sentry.io/6008235'

# Optional
# Locize Dev API key for writing values.
export NEXT_PUBLIC_LOCIZE_DEV_API_KEY=
export LOCIZE_API_KEY=$NEXT_PUBLIC_LOCIZE_DEV_API_KEY

# Optional
# Fathom API keys for analytics tracking.
export NEXT_PUBLIC_FATHOM_SITE_ID=

# Optional
export NEXT_PUBLIC_COINBASE_PAY_APP_ID=