input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

label {
  @apply block cursor-pointer mt-6 mb-1 text-left;
}

button {
  @apply text-highlight-3;
  transition: all 75ms ease-in-out;
}

button:hover {
  @apply text-inverse;
}

form:after {
  content: '';
  display: table;
  clear: both;
}

button {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}

button[disabled] {
  @apply opacity-40 cursor-not-allowed !important;
}

input:not([type='submit'])[disabled],
textarea[disabled] {
  @apply border-transparent opacity-60 cursor-not-allowed !important;
}

input[type='submit'][disabled] {
  @apply border-transparent cursor-not-allowed;
}

input:not([type='submit'])[readOnly] {
  @apply cursor-not-allowed !important;
}

input[type='submit'][disabled] {
  @apply border-transparent cursor-not-allowed;
}

.fieldset {
  @apply py-2 mb-0 w-full;

  max-width: 500px;
}

.fieldset label {
  @apply text-accent-3 font-bold text-xxxs xs:text-xxs px-4 sm:px-8;
}

.check {
  stroke: #05e6c4;
  fill: none;
  height: 100%;
  stroke-width: 20;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  top: 4px;
  left: 3px;
  width: 100%;
}

.check.checked {
  animation: check 0.1s ease-out forwards;
}

@keyframes check {
  0% {
    stroke-dashoffset: -150;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.button-scale:hover,
.button-scale:focus,
.button-scale:active {
  transform: scale(1.02) translateY(-3px);
}

.button-partially-disabled {
  opacity: 0.8;
  transition: all 75ms ease-in-out;
}

.button-partially-disabled:hover {
  opacity: 1;
  transform: scale(1.02) translateY(-3px);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.radio-input {
  @apply mr-2 sm:mx-6;
  min-height: 200px;
}

.radio-input:first-child {
  @apply mr-2 sm:mr-6 ml-0;
}

.radio-input:last-child {
  @apply ml-2 sm:ml-6 mr-0;
}

@screen sm {
  .radio-input {
    max-width: 340px;
    min-height: 240px;
  }
}

@screen lg {
  .radio-input {
    max-width: 370px;
  }
}
