* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav-min-height {
  min-height: 60px;
}

@screen sm {
  .nav-min-height {
    min-height: 90px;
  }
}

.nav--pool-logo-container {
  width: 50px;
}

.nav--account-controls-container {
  max-width: 244px;
}

@screen xs {
  .nav--pool-logo-container {
    width: 80px;
  }
}

@screen sm {
  .nav--pool-logo-container {
    min-width: 154px;
  }

  .nav--account-controls-container {
    max-width: 560px;
  }
}

@screen lg {
  .nav-and-footer-container {
    max-width: 1400px;
  }
}

@screen lg {
  .pool-container {
    max-width: 1400px;
  }
}

.pool-max-width {
  max-width: 1400px; 
}

.modal-max-width {
  max-width: 640px;
}

.modal-wrapper {
  min-height: 300px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-content-container {
  max-height: 100vh;
}

@screen sm {
  .modal-wrapper {
    max-height: calc(100vh - 1px);
  }
}

.page {
  min-height: 400px;
  width: 100%;
}

.section-min-height {
  min-height: 70vh;
}

.scene {
	margin: 0 auto;
  z-index: 3;
  width: 95%;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  pointer-events: none;
}

.notification-close-btn {
  padding: 0.08rem;
}

@screen sm {
  .notification-close-btn {
    padding: 0.5rem;
  }
}





.grid-wrapper {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  grid-gap: 0;
  row-gap: 0;
  grid-template-areas:
    "banner"
    "header"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 0 100px 1fr;
}

@screen sm {
  .grid-wrapper {
    grid-template-rows: 0 120px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "banner banner"
      "header  header"
      "sidebar  content";
    max-width: 1260px;
  }

  .grid-wrapper.showing-network-banner {
    grid-template-rows: 46px 120px 1fr;
  }

  .sidebar {
    display: block;
  }
}

@screen lg {
  .grid-wrapper {
    grid-template-columns: 300px 1fr;
    max-width: 1460px;
  }
}

.grid-wrapper.showing-network-banner {
  grid-template-rows: 46px 100px 1fr;
}
/* "footer" */

.header {
  display: block;
  grid-area: header;
  position: fixed;
  top: 0;
}

.header.showing-network-banner {
  top: 46px;
}

.header > div {
  max-width: 1280px;
}

@screen lg {
  .header > div {
    max-width: 1460px;
  }
}

.sidebar {
  grid-area: sidebar;
  width: 240px;
}

@screen lg {
  .sidebar {
    width: 300px;
  }
}

.sidebar > div {
  position: sticky;
  top: 124px;
}

.sidebar.showing-network-banner > div {
  top: 170px;
}

.content {
  grid-area: content;
}

.banner {
  grid-area: banner;
}

/* .whitespace-1 {
  grid-area: whitespace-1;
} */

