span {
  --inactive: #9bc9eb;
  --active: #98eeb3;
  --speed: 1.2s;
  --size: 30px;
  --unit: 10px;
}

.spinner {
  margin: 0 auto;
  width: 170px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  margin: 0 10px;
  background-color: #4565FF;
  border-radius: 100%;
  display: inline-block;
  animation: bounceLoad 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes bounceLoad {
  0%, 80%, 100% { 
    transform: scale3d(0, 0, 0);
  } 40% { 
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

@screen sm {
  @keyframes bounceLoad {
    0%, 80%, 100% { 
      transform: scale3d(0, 0, 0);
    } 40% { 
      transform: scale3d(1, 1, 1);
    }
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis span {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis span:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis span:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis span:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis span:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



.loader01 {
  width: 20px;
  height: 20px;
  border: 0.15rem solid #3857ee;
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  left: 2px;
  top: 50%;
  margin: -10px auto 0 auto;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg); 
  } 
}

.loader01.white {
  border-color: white;
  border-right-color: transparent;
}
