table {
  @apply text-xxxs;
  border-spacing: 0;
}

@screen xs {
  table {
    @apply text-xs;
  }
}

@screen sm {
  table {
    @apply text-sm;
  }
}

@screen lg {
  table {
    @apply text-lg;
  }
}

tr:last-child td {
  border-bottom: 0;
}

th,
td {
  @apply py-1;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin: 0;
  max-width: 100px;
}

@screen xs {
  th,
  td {
    @apply px-1;
    max-width: none;
  }
}

@screen xs {
  th:first-child {
    @apply rounded-tl-sm px-2 py-2;
  }

  th:last-child {
    @apply rounded-tr-sm px-2 py-2;
  }

  td:first-child {
    @apply rounded-tl-sm rounded-bl-sm px-2 py-2;
  }

  td:last-child {
    @apply rounded-tr-sm rounded-br-sm px-2 py-2;
  }
}

@screen sm {
  th,
  td {
    @apply px-3;
  }
}

thead tr {
  @apply bg-default rounded-lg;

  transition: all 150ms ease-in-out;
}

th:last-child,
td:last-child {
  border-right: 0;
}




.table--small-headers thead tr {
  background-color: rgba(0, 0, 0, 0);
}

.table--small-headers th {
  @apply text-xxxs pb-0 uppercase;
}

.table--no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.table--no-padding th:first-child,
.table--no-padding th:last-child,
.table--no-padding td:first-child,
.table--no-padding td:last-child {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.players-table-min-height {
  min-height: 400px;
}

@screen xs {
  .players-table-min-height {
    min-height: 550px;
  }
}

@screen sm {
  .players-table-min-height {
    min-height: 620px;
  }
}
