.theme-dark {
  --color-bg-readonly-tsunami: #3e0a79;
  --color-border-readonly-tsunami: rgba(173, 153, 216, 0);
}

.theme-light {
  --color-bg-readonly-tsunami: #3e0a79;
  --color-border-readonly-tsunami: rgba(173, 153, 216, 0);
  /* --color-bg-readonly-tsunami: #ccc0e2;
  --color-border-readonly-tsunami: rgba(212, 199, 238, 0.1); */
}

/* TODO: Find out why this doesn't work? It's a default in Tailwind */
.bg-transparent {
  background: transparent;
}

.theme-dark .gradient-new {
  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 0.7) -10%,
    rgba(23, 225, 253, 0.7) 40%,
    rgba(255, 119, 225, 0.7) 70%,
    rgba(255, 241, 119, 0.7) 120%
  );
}

.theme-light .gradient-new {
  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 1) -10%,
    rgb(13, 172, 245) 40%,
    rgb(249, 71, 210) 70%,
    rgb(254, 220, 111) 120%
  );
}

.new-btn .lds-dual-ring:after {
  border-color: rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}
