* {
  --color-bg-readonly-tsunami: #3e0a79;
}

/* TODO: Find out why this doesn't work? It's a default in Tailwind */
.bg-transparent {
  background: transparent;
}

.theme-dark .gradient-new {
  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 0.7) -10%,
    rgba(23, 225, 253, 0.7) 40%,
    rgba(255, 119, 225, 0.7) 70%,
    rgba(255, 241, 119, 0.7) 120%
  );
}

.theme-light .gradient-new {
  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 1) -10%,
    rgb(13, 172, 245) 40%,
    rgb(249, 71, 210) 70%,
    rgb(254, 220, 111) 120%
  );
}

.new-btn .lds-dual-ring:after {
  border-color: rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}

.draw-card-container {
  @apply w-full;
}

@screen sm {
  .draw-card-container {
    width: 100%;
  }
}

/* scale the height by the view width, maintains aspect ratio */
.draw-card {
  height: 94vw;
}

/* prob don't want both the @media query and the @screen here. Figure this out later ... */
@media screen and (min-width: 576px) {
  @screen xs {
    .draw-card {
      height: 436px;
    }
  }
}

@media screen and (max-height: 600px) {
  .main-nav {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

.theme-dark .carousel .control-dots .dot {
  border: 5px solid var(--color-bg-highlight-1);
}

.theme-light .carousel .control-dots .dot {
  box-shadow: none;
  background: var(--color-bg-secondary);
}

.theme-dark .bg-tsunami-card-bridge {
  background: rgba(76, 36, 159, 0.1);
}

.theme-light .bg-tsunami-card-bridge {
  background: white;
}
