* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Regular.woff2') format('woff2'),
    url('/fonts/DMMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Regular.woff2') format('woff2'),
    url('/fonts/TitilliumWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Bold.woff2') format('woff2'),
    url('/fonts/TitilliumWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body,
table {
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0, 'onum' 0, 'lnum' 0,
    'dlig' 0;
}

body {
  @apply font-sans tracking-wide;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mt-0 mb-0;
}

h1 {
  @apply text-2xl;
}

.description li {
  @apply ml-6;
}

.description ul {
  @apply list-disc;
}

.description h1 {
  @apply text-xl;
}

@screen sm {
  h1 {
    @apply text-4xl;
  }
  .description h1 {
    @apply text-3xl;
  }
}

@screen lg {
  h1 {
    @apply text-5xl;
  }
  .description h1 {
    @apply text-4xl;
  }
}

h2 {
  @apply text-xl;
}

.description h2 {
  @apply text-lg;
}

@screen sm {
  h2 {
    @apply text-3xl;
  }

  .description h2 {
    @apply text-2xl;
  }
}

@screen lg {
  h2 {
    @apply text-5xl;
  }

  .description h2 {
    @apply text-3xl;
  }
}

h3 {
  @apply text-2xl;
}

.description h3 {
  @apply text-xl;
}

@screen sm {
  h3 {
    @apply text-2xl;
  }

  .description h3 {
    @apply text-xl;
  }
}

@screen lg {
  h3 {
    @apply text-3xl;
  }

  .description h3 {
    @apply text-2xl;
  }
}

h4 {
  @apply text-lg;
}

.description h4 {
  @apply text-base;
}

@screen sm {
  h4 {
    @apply text-xl;
  }

  .description h4 {
    @apply text-lg;
  }
}

@screen lg {
  h4 {
    @apply text-2xl;
  }

  .description h4 {
    @apply text-xl;
  }
}

h5 {
  @apply text-base;
}

.description h5 {
  @apply text-sm;
}

@screen sm {
  h5 {
    @apply text-lg;
  }

  .description h5 {
    @apply text-base;
  }
}

@screen lg {
  h5 {
    @apply text-xl;
  }

  .description h5 {
    @apply text-lg;
  }
}

h6 {
  @apply text-xs;
}

@screen xs {
  h6 {
    @apply text-base;
  }
}

@screen lg {
  h6 {
    /* @apply text-base; */
  }
}

.text-caption {
  @apply text-accent-1 text-xxxs;
}

@screen sm {
  .text-caption {
    @apply text-sm;
  }
}

.text-caption-2 {
  @apply text-accent-2 text-xxxxs font-mono;
}

@screen sm {
  .text-caption-2 {
    @apply text-xxxs;
  }
}

@screen lg {
  .text-caption-2 {
    @apply text-xxs;
  }
}

.text-caption-2 a {
  @apply text-accent-2;
}
