* {
  --color-bg-readonly-tsunami: #3e0a79;
}

/* TODO: Find out why this doesn't work? It's a default in Tailwind */
.bg-transparent {
  background: transparent;
}

.dark .gradient-new {
  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 0.7) -10%,
    rgba(23, 225, 253, 0.7) 40%,
    rgba(255, 119, 225, 0.7) 70%,
    rgba(255, 241, 119, 0.7) 120%
  );
}

.light .gradient-new {
  background-image: linear-gradient(
    130deg,
    rgba(76, 36, 159, 1) -10%,
    rgb(13, 172, 245) 40%,
    rgb(249, 71, 210) 70%,
    rgb(254, 220, 111) 120%
  );
}

.new-btn .lds-dual-ring:after {
  border-color: rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3) transparent;
}

/* scale the height by the view width, maintains aspect ratio */
.maintain-aspect-ratio {
  padding-top: calc(77.77% + 5rem);
  position: relative;
  overflow: hidden;
}

@screen xs {
  .maintain-aspect-ratio {
    padding-top: 77.77%;
  }
}

.dark .bg-tsunami-card-bridge {
  background: rgba(76, 36, 159, 0.1);
}

.light .bg-tsunami-card-bridge {
  background: white;
}

.bg-animated-gradient-1 {
  background: linear-gradient(85deg, #f37055 -30%, #0dacf5, #f947d2, #11d1fc, #dd6ffe, #fedc6f 95%);
  animation: animatedgradient 8s ease alternate infinite;
  background-size: 300% 300%;
  animation-timing-function: steps(50);
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
